:root {
  --cherrypink: #FFB6C1;
  --mistyrose: #f6dde0;
  --skyblue: #87CEEB;
  --celeste: #daf8f8;
  --buff: #D4A373;
  --lavender: #2a2a6a;
  --peach: #FFCBA4;
  --lemon: #FFFACD;
  --sage: #DCE2BD;
  --latte: #FFF8E7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, .navbar-brand {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-shadow:rgba(0, 0, 0, 0.5);
  color: var(--lavender);
}

p, span, li{
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3em
}

body, #root {
  margin: 0 auto;
  width: 100%;
  background-color: var(--latte);
}

header {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

header img {
  top: 60px;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover; /* Ensures full width while keeping image proportions */
}


header h1 {
  position: relative;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

nav {
  height: 60px; /* Adjust if needed */
  background: var(--latte);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar {
  padding: 20px;
}

section {
  background-color: var(--mistyrose);
}

section {
  padding: 50px;
  min-height: 600px;
}

.home-content {
  padding: 50px;
}

input {
  height: 55px;
}

input:focus {
  border: 4px solid var(--peach) !important;
  box-shadow: none !important;
}

.btn-primary {
  background-color: var(--skyblue);
  border: none;
  font-family: "Shrikhand", serif;
  font-size: 1.3em;
}

.btn-primary:hover {
  background-color: var(--celeste);
  color: var(--skyblue);
}

.banner {
  background-color: var(--sage);
}

.introduction {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 400px;
  background-color: var(--celeste);
}

.donate {
  background-color: var(--latte);
}

.filter {
  background-color: var(--celeste);
}

.petgrid {
  background-color: var(--sage);
}
.card {
  background-color: var(--latte);
  border: 0px;
}

.postpet {
  max-width: 700px;
  padding: 30px;
}

.checkbox-span {
  padding-right: 10px;
  display: block;
}

.checkbox-label {

  padding-left: 10px;
}

#specialNeeds, #neutered, #pottyTrained {
  margin-left: 10px;
}
